.btn-spacing{
    margin-right: 12px;
}
.cell-user{
    width: 25%;
}
.cell-hobby{
    width: 50%;
}
td.align{
    text-align: right;
}
.manage{
    color: white;
}
.form_center{
    position: fixed;
    width: 300px;
    height: 200px;
    top: 45%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
#category{
    font-size: 25px;
}
#subcategory{
    font-size: 15px;
}
#nav{
    height: 75px;
}
#hobbies{
    margin-top:75px;
}